# AI Integrations
OPENAI_API_KEY=your_openai_api_key_here

# Supabase Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_API_KEY=your_supabase_api_key_here

# Emails
MAIL_USERNAME=your_dev_email@gmail.com
MAIL_PASSWORD=your_app_specific_password
MAIL_FROM=your_dev_email@gmail.com

# Local Endpoints & Security
BASE_URL=https://127.0.0.1:8000
ALGORITHM=HS256
SECRET_KEY=your_local_secret_key_here